/* src/components/Navbar.css */
.hover-dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
/* careers */
.career-gallery .image-card {
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.career-gallery .img-box {
  position: relative;
  transition: all 0.4s ease-in-out;
}

.career-gallery .img-box img {
  width: 100%;
  border-radius: 12px;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.career-gallery .overlay-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

/* Hover Effects */
.career-gallery .image-card:hover .img-box img {
  transform: scale(1.05);
  opacity: 1;
}

.career-gallery .image-card:not(:hover) .img-box img {
  opacity: 0.85;
}
